.ApplyNowBanner1{
    width: 100%;
    height: 780px;
    background-color: white;
    
}
.ApplyNowBanner2{
    width: 80%;
    margin: auto;
    background-color: white;
}
.ApplyNowBannerheading{
    padding-top: 5%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 166px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    font-size:24px;
    font-family:'roboto';
    letter-spacing: 0px;
    color: rgba(16, 29, 108, 1);
    opacity: 1;
}

@media screen and (max-width: 620px) { 
    .ApplyNowBanner2{
        width: 90%;
        margin: auto;
        background-color: white;
    }
}