.FooterBanner1{
    width: 100%;
     margin: auto;
    background-color: rgba(249, 249, 252, 1);
    padding-bottom: 5%;
}
.FooterBanner2{
    width: 80%;
    margin: auto;
   
}
.FooterContainer{
    width: 100%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    color: rgba(96, 125, 139, 1);
   
}
.FooterContainer1{
    width: 80%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  
}
.FooterContainer2{
    width: 20%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
   
    
}
.FooterContainerIn1{
    width:50%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    
}
.FooterContainerIn2{
    width: 50%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0%;
   
}

.FooterContainer2  img{
   margin-top: -10%;
    width: 100px;
    height: 50px;
}
