.FooterBanner1{
    width: 100%;
     margin: auto;
    background-color: rgba(249, 249, 252, 1);
    padding-bottom: 5%;
}
.FooterBanner2{
    width: 80%;
    margin: auto;
   
}
.FooterContainer{
    width: 100%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    color: rgba(96, 125, 139, 1);
   
}
.FooterContainer1{
    width: 80%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 12px;
}
.FooterContainer2{
    width: 20%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
   
    font-size: 12px;
}
.FooterContainerIn1{
    width:50%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 12px;
    text-align:center;
}
.FooterContainerIn2{
    width: 50%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0%;
    font-size: 12px;
}

.FooterContainer2  img{
   margin-top: -17%;
    width: 100px;
    height: 50px;
}
@media screen and (max-width: 920px) {

    .FooterBanner2{
        width: 90%;
        margin: auto;
       
    }
    .FooterContainer1{
        width: 50%;
        font-size: 12px;
    }
    .FooterContainer2{
        font-size: 12px;
        width: 50%;
    display: block;
    
    }
    .FooterContainerIn1{
        width:100%;
        text-align: right;
        margin-bottom: -10%;
    }
    .FooterContainerIn2{
        width:100%;
        text-align: right;
       
    }
    .FooterContainer2  img{
    margin-bottom: -10%; 
    width: 109px;
    height: 19px;
    }
}