.HeaderContainer2 ul li{
    display:inline;
    

}
.HeaderContainer2 ul li a{
    margin: 10%;
    text-align: center;
    font-size:100%;
    letter-spacing: 0px;
    color: rgba(69, 90, 100, 1);
    opacity: 1;
}
.HeaderBanner1{
     width: 100%;
     margin: auto; 
     background-color: white;
     box-shadow: grayscale($color: #000000);
}
.HeaderBanner2{
    width: 80%;
    margin: auto;
    background-color: white;
   
}
.HeaderContainer{
    background-color: white;
    width: 100%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    color: rgba(96, 125, 139, 1);
  
   
}
.HeaderContainer1{
    background-color: white;
    margin-left:0%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:auto;
 
}
.HeaderContainer2{
    background-color: white;
    width: 40%;
    margin-right: auto;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:0%;
    display: flex;
    text-align:center;
    font-size: 16px;

    padding-top: 20px;
    padding-bottom: 20px;
    
}


.HeaderContainer1  img{
    background-color: white;
    margin-left: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    width:100%;  
    
}


nav[role="full-horizontal"] {
    width: 100%;
    margin-left: 10%;
    ul {
      > li {
        float: left;   
      }
    }
}

@media screen and (max-width: 920px) { 
    .HeaderContainer2{
display: none;
    }
    .HeaderBanner2{
    width: 90%;
    }
  }
  