.InTouchBanner1{
    width: 100%;
   margin: auto;
    background-color: rgba(249, 249, 252, 1);
    padding-bottom: 5%;
}
.InTouchBanner2{
    width: 80%;
    margin: auto;
    font-family:'roboto';
}
.InTouchBannerheading{
    padding-top: 5%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size:24px;
    letter-spacing: 0px;
    color: rgba(16, 29, 108, 1);
    opacity: 1;
}
.InTouchout{
    border-radius: 0px;
}
.InTouch{
    background: rgba(243, 149, 28, 1);
    border: 0.5px solid rgba(207, 216, 220, 1);
    border-radius: 0px;
opacity: 1;
width: 30%;
margin-left:auto;
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
text-align: center;
    font-size:16px;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.InTouchContainer{
    width: 100%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
  
    background: rgba(243, 149, 28, 1);
    border-radius: 4px!important;
    border: 1px solid rgba(243, 149, 28, 1)
    }
        .InTouchContainer img{
            margin-top: 10%;
            width: 30px;
            height: 30px;
        }
      
        .InTouchText{
            width: 90%;
            margin-top: 7%;
            margin-bottom:5%;
            margin-left: 5%;
            margin-bottom: 5%;
            color: white;
            text-align: center;
            font-size:16px;
        }
        
        .InTouchText1{ 
           
            color:rgba(69, 90, 100, 1);
            text-align: center;
            font-size:16px;
        }

        @media screen and (max-width: 920px) {
        
            .InTouchBanner2{
                width: 90%;
                margin: auto;
                font-family:'roboto';
            }
            .InTouch{
                width: 100%;
            
            }
            .InTouchContainer{
              
                display:inline;
                padding-top: 2%;
                }
                .InTouchText{
                margin-top: 3%;
                }
        }