.OurFeaturesBanner1{
    width: 100%;
   margin: auto;
    background-color: rgba(249, 249, 252, 1);
    padding-bottom: 5%;
}
.OurFeaturesBanner2{
    width: 80%;
    margin: auto;
}
.OurFeaturesBannerheading{
    padding-top: 5%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 166px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    font-size:24px;
    font: Bold Work Sans;
    letter-spacing: 0px;
    color: rgba(16, 29, 108, 1);
    opacity: 1;
}
.OurFeatures1{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 216, 220, 1);
    border-radius: 4px;
opacity: 1;
width: 30%;
margin-left:auto;
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
text-align: center;
    font-weight: 500;
    font-size:18px;
}
.OurFeatures2{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 216, 220, 1);
    border-radius: 4px;
    width: 30%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    font-size:18px;
    }
    .OurFeatures3{
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(207, 216, 220, 1);
        border-radius: 4px;
        width: 30%;
        margin-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 500;
        font-size:18px;
        }
        .OurFeatures4{
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(207, 216, 220, 1);
            border-radius: 4px;
            width: 30%;
            margin-left: 17.5%;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            text-align: center;
            font-weight: 500;
            font-size:18px;
            }
            .OurFeatures5{
                background: rgba(255, 255, 255, 1);
                border: 1px solid rgba(207, 216, 220, 1);
                border-radius: 4px;
                width: 30%;
                margin-left: 5%;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 17.5%;
                text-align: center;
                 font-weight: 500;
                font-size:18px;
                }
.OurFeaturesContainer1{
    width: 100%;
    margin-left:auto;
    margin-top: 5%;
    margin-bottom: auto;
    margin-right: auto;
    display: flex;
    }
    .OurFeaturesContainer2{
        width: 100%;
        margin-left:auto;
        margin-top: 5%;
        margin-bottom: auto;
        margin-right: auto;
        display: flex;
        }
        .OurFeaturesContainer1 img{
            width: 60px;
            height: 60px;
        }
        .OurFeaturesContainer2 img{
            width: 60px;
            height: 60px;
        }
        .OurFeaturesText{
            width: 90%;
            margin-top: auto;
            margin-bottom:5%;
            margin-left: 5%;
            margin-bottom: 5%;
            color: rgba(96, 125, 139, 1);
            text-align: center;
            font-size:16px;
        }