.Banner{
    width: 100%;
    background-color: rgba(249, 249, 252, 1);
    padding-top: 5%;
}
.Card{

margin-left: auto;
margin-bottom: auto;
margin-right: auto;
width: 80%;
display: flex;
}
.Card1{
    width: 50%;
    margin-top: 5%;
    overflow: hidden;
 
}

    .Card1text1{
        text-align: left;
         font-family: Work Sans;
        font-size: 40px;
        letter-spacing: 0px;
        color: rgba(41, 44, 69, 1);
        opacity: 1;
    }

    .Card1text2{
    text-align: left;
    font: Regular 16px/24px Work Sans;
    letter-spacing: 0px;
    color: rgba(69, 90, 100, 1);
    opacity: 1;    
    }

.Card2{
        width: 50%;
        margin: auto;
        opacity: 1;
        overflow: hidden;
        }

    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
      }
  
button{
text-align: center;
font: Medium 16px/48px Work Sans;
letter-spacing: 0px;
color: rgba(255, 255, 255, 1);
background: rgba(243, 149, 28, 1);
border-radius: 8px;
opacity: 1;
border:none;
width: 116px;
height: 42px;
margin-top: 10%;
margin-bottom: 0%;
margin-right: 0%;
}