
.Banner{
    width: 100%;
    background-color: rgba(249, 249, 252, 1);
    padding-top: 5%;
}
.Card{

margin-left: auto;
margin-bottom: auto;
margin-right: auto;
width: 80%;
display: flex;
}
.Card1{
    width: 50%;
    margin-top: 9%;
    
 
}

    .Card1text1{
        
        text-align: left;
         font-family:'roboto';
        font-size: 42px;
        font-weight:bolder;
        letter-spacing: 0px;
        color: rgba(41, 44, 69, 1);
        opacity: 1;
        margin-bottom: 0%;
    }

    .Card1text2{
        margin-top: 0%;
        font-family:'roboto';
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: rgba(69, 90, 100, 1);
    opacity: 1;    
    }

.Card2{
        width: 50%;
        margin: auto;
        }

        .Card2 img {
    height: 414px;
    width:100%;
    
      }
      .Card1{
button{
text-align: center;
font-family:'roboto';
font-size: 16px;
letter-spacing: 0px;
color: rgba(255, 255, 255, 1);
background: rgba(243, 149, 28, 1);
border-radius: 4px!important;
opacity: 1;
border:none;
width: 116px;
height: 42px;
margin-top: 10%;
margin-bottom: 0%;
margin-right: 0%;
}
      }
@media screen and (max-width: 620px) { 
   
    .Card{
    width: 90%;
    margin: auto;
  display: block;
    }
    .Card2{
        width: 100%;
    margin: auto;
    }
    .Card1{
        width: 100%;
       margin: auto;
     
    }
    .Card1text1{
    font-size: 24px;
    }

    .Card2 img {
        height:250;
        width:100%;
       
          }
          .Card1text2{
            font-size: 16px;
        }
        .Card1{
        button{
            width: 116px;
            height: 42px;

            margin-top: 1%;
            margin-bottom: 0%;
            margin-right: 0%;
            font-size: 16px;
        }
    }

}