
.SilverChipCardBanner{
    width: 100%;
    background-color: rgba(249, 249, 252, 1);
    padding-top: 5%;
    background-image: url('../images/Group\ 2912.png');
   
    background-repeat: no-repeat;
    background-size: cover;
}
.SilverChipCardCard{

margin-left: auto;
margin-bottom: auto;
margin-right: auto;
width: 80%;
background:100%;
}
.SilverChipCardCard1{
    width: 50%;
    margin-top: 11%;
    background:100%;
}

    .SilverChipCardCard1text1{
        
        text-align: left;
         font-family:'roboto';
        font-size: 48px;
        font-weight:bolder;
        letter-spacing: 0px;
        color:#455A64;
        opacity: 1;
        margin-bottom: 0%;
    }

    .SilverChipCardCard1text2{
        margin-top: auto;
        font-family:'roboto';
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #455A64;
    opacity: 1;    
    }


    .SilverChipCardCard1{ 
button{
text-align: center;
font-family:'roboto';
font-size: 16px;
letter-spacing: 0px;
color: rgba(255, 255, 255, 1);
background: rgba(243, 149, 28, 1);
border-radius: 4px!important;
opacity: 1;
border:none;
width: 116px;
height: 42px;
margin-top: 1%;
margin-bottom: 0%;
margin-right: 0%;
opacity: 1!important;
}
    }
@media screen and (max-width: 920px) {
    .SilverChipCardBanner{
        background-size: cover;
        background-position: 78%;
        opacity: 0.7;
    }
    .SilverChipCardCard{
    width: 90%;
    opacity: 1;
    }
    .SilverChipCardCard1text1{
        font-size: 24px;
    }
    .SilverChipCardCard1text2{
    
    }
    .SilverChipCardCard1{
        width: 100%;
        margin-top: 30%;
        background:100%;
        opacity: 1!important;
    }
    .SilverChipCardCard1{ 
        button{
            opacity: 1!important;
            background: rgba(243, 149, 28, 1);
        }
    }
}