
.SilverChipBanner{
    width: 100%;
    background-color: rgba(249, 249, 252, 1);
    padding-top: 5%;
    background-image: url('../images/Group\ 2915.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.SilverChipCard{

margin-left: auto;
margin-bottom: auto;
margin-right: auto;
width: 80%;
background:100%;
}
.SilverChipCard1{
    width: 50%;
    margin-top: 3%;
    background:100%;
}

    .SilverChipCard1text1{
        
        text-align: left;
         font-family:'roboto';
        font-size: 48px;
        font-weight:bolder;
        letter-spacing: 0px;
        color: #292C45;
        opacity: 1;
       
    }

    .SilverChipCard1text2{
    margin-top: auto;
    font-family:'roboto';
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #455A64;
    opacity: 1;    
    }


    .SilverChipCard12{
button{
text-align: center;
font-family:'roboto';
font-size: 16px;
letter-spacing: 0px;
color: rgba(255, 255, 255, 1);
background: rgba(243, 149, 28, 1);
border-radius: 4px!important;
opacity: 1;
border:none;
width: 116px;
height: 42px;
margin-top: 1%;
margin-bottom: 0%;
margin-right: 0%;
}
    }
.SilverChipCard1text2{ .svg-inline--fa{
color: #F3951C;
}
}
.SilverChipCard12{
    background:100%;
}
@media screen and (max-width: 620px) {
    .SilverChipBanner{
        background-color: #C8C8C8;
        background-position:bottom center;
       background-image: url();
       height: 582px;;
    }
    .SilverChipCard1text1{
    font-size: 24px;
    }
    .SilverChipCard{
    width: 90%;
    
    }
    .SilverChipCard1{
 width: 100%;
 
    }
    .SilverChipCard12{
        display: block;
        background-image: url('../images/Group\ 2915.png');
background-position: 100%;
        background-size: cover;
        height: 300px;
        width: 100%;
        margin-top: 0%;
        }
}